@using CSSPWebTools.Views.RainExceedance.Resources;
@using CSSPWebTools.Models;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using CSSPWebTools.Controllers;

@{
    List<EmailDistributionListModel> EmailDistributionListModelList = (List<EmailDistributionListModel>)ViewBag.TVItemModelSubsectorList;
}

<h4>@RainExceedanceViewRes.EmailDistributionListToUse</h4>
<ul class="list-unstyled">
    @if (EmailDistributionListModelList.Count == 0)
            {
        <li>@RainExceedanceViewRes.Empty</li>
    }
    else
    {
        foreach (EmailDistributionListModel emailDistributionListModel in EmailDistributionListModelList)
        {
            <li>@emailDistributionListModel.RegionName</li>
        }
    }
</ul>

