@using CSSPWebTools.Views.Home.Resources;

<div class="container paraBlock">
    <div class="row">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="panel-title">@HomeViewRes.LoginRegister</h4>
            </div>
            <div class="panel-body">
                
                <h4>@HomeViewRes.PleaseLoginRegisterAccessMessage</h4>
                <br />
                <ul class="list-inline blockMargin">
                    <li>
                        <a href="#!Login" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-log-in"></span>&nbsp;@HomeViewRes.Login</a>
                    </li>
                    <li>
                        <a href="#!Register" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-empty-star"></span>&nbsp;@HomeViewRes.Register</a>
                    </li>
                </ul>                
            </div>
        </div>
    </div>

</div>

