@using CSSPWebTools.Views.MikeScenario.Resources;
@using CSSPWebTools.Models;

@{
    URLModel urlModel = (URLModel)ViewBag.URLModel;
}

<div id="MikeScenarioGenerateResultsDiv">
    <h4>To do: Guide and help user in producing many types of results from MIKE Scenario results files (.dfsu)</h4>
    <br />
    <h4>For now please use Files tab. Click the generate icon <button class="btn btn-default"><span class="glyphicon glyphicon-cog" title="Show generate report"></span></button> and click on appropriate genearate button</h4>
</div>


