@using CSSPWebTools.Views.VisualPlumes.Resources;
@using CSSPModelsDLL.Models;

@{
    VPFullModel vpFullModel = (VPFullModel)ViewBag.VPFullModel;
}

@if (vpFullModel.ResultList.Count() == 0)
{
   
    <span title="@VisualPlumeViewRes.ReturnVPScenarioList"><span class="glyphicon glyphicon-share-alt flip-horizontal"></span></span>
    <h3>@VisualPlumeViewRes.NoResultsYet</h3>
}
else
{
    <div style="width: 100%">
        <pre>@vpFullModel.RawResults</pre>
    </div>
}


<script type="text/javascript">
    $(function () {
        cssp.VisualPlumes.Init();
    });
</script>


