@using CSSPWebTools.Views.Help.Resources;

<div id="HelpDiv" class="container-fluid">
    <div id="LoginVariables" class="hidden">
        <span class="varNotUsed">@HelpViewRes.NotUsed</span>
    </div>
    <div>
        <div>
            <h4 class="text-danger">95% is implemented</h4>
        </div>
        <div style="width:400px; height:400px; overflow-y: scroll;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Example</th>
                        <th>Searching</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>c:</td><td><span class="nowrap">c: julie</span></td><td>Contacts</td></tr>
                    <tr><td>e:</td><td><span class="nowrap">e: julie</span></td><td>Emails</td></tr>
                    <tr><td>t:</td><td><span class="nowrap">t: 4388</span></td><td>Telephones</td></tr>
                    <tr><td>m:</td><td><span class="nowrap">m: caraquet</span></td><td>Municipalities</td></tr>
                    <tr><td>p:</td><td><span class="nowrap">p: nova scoti</span></td><td>Provinces</td></tr>
                    <tr><td>ms:</td><td><span class="nowrap">ms: shediac LS 2</span></td><td>Mike Scenarios</td></tr>
                    <tr><td>cs:</td><td><span class="nowrap">cs: moncton</span></td><td>Climate Sites</td></tr>
                    <tr><td>hs:</td><td><span class="nowrap">hs: tracadie</span></td><td>Hydrometric Sites</td></tr>
                    <tr><td>ts:</td><td><span class="nowrap">ts: nb-01-02</span></td><td>Tide Sites</td></tr>
                    <tr><td>ww:</td><td><span class="nowrap">ww: shediac</span></td><td>Waste Water</td></tr>
                    <tr><td>ls:</td><td><span class="nowrap">ls: shediac ls 19</span></td><td>Lift Stations</td></tr>
                    <tr><td>st:</td><td><span class="nowrap">st: 0123</span></td><td>MWQM Sites</td></tr>
                    <tr><td>ps:</td><td><span class="nowrap">ps: agri</span></td><td>Pollution Source Sites</td></tr>
                    <tr><td>a:</td><td><span class="nowrap">a: nb-04</span></td><td>Areas</td></tr>
                    <tr><td>s:</td><td><span class="nowrap">s: nb-05</span></td><td>Sectors</td></tr>
                    <tr><td>ss:</td><td><span class="nowrap">ss: nb-06</span></td><td>Subsectors</td></tr>
                    <tr><td>u:</td><td><span class="nowrap">u: c: julie</span></td><td>Contacts under Current Page</td></tr>
                    <tr><td colspan="3">Files (starting with f)</td></tr>
                    <tr><td>fi:</td><td><span class="nowrap">fi: shediac</span></td><td>Files (image)</td></tr>
                    <tr><td>fp:</td><td><span class="nowrap">fp: shediac</span></td><td>Files (picture)</td></tr>
                    <tr><td>fr:</td><td><span class="nowrap">fr: shediac</span></td><td>Files (report)</td></tr>
                    <tr><td>fg:</td><td><span class="nowrap">fg: shediac</span></td><td>Files (generated)</td></tr>
                    <tr><td>fpdf:</td><td><span class="nowrap">fpdf: shediac</span></td><td>Files (PDF)</td></tr>
                    <tr><td>fdocx:</td><td><span class="nowrap">fdocx: shediac</span></td><td>Files (Microsoft Word .docx)</td></tr>
                    <tr><td>fxlsx:</td><td><span class="nowrap">fxlsx: shediac</span></td><td>Files (Microsoft Excel .xlsx)</td></tr>
                    <tr><td>fkmz:</td><td><span class="nowrap">fkmz: shediac</span></td><td>Files (Google Map .kmz)</td></tr>
                    <tr><td>ftxt:</td><td><span class="nowrap">ftxt: shediac</span></td><td>Files (Text file .txt)</td></tr>
                    <tr><td>fxyz:</td><td><span class="nowrap">fxyz: shediac</span></td><td>Files (MIKE .xyz)</td></tr>
                    <tr><td>fdfs:</td><td><span class="nowrap">fdfs: shediac</span></td><td>Files (MIKE .dfs0 to .dfsu )</td></tr>
                    <tr><td>fmike:</td><td><span class="nowrap">fmike: shediac</span></td><td>Files (MIKE Input and Result)</td></tr>
                    <tr><td>fmdf:</td><td><span class="nowrap">fmdf: shediac</span></td><td>Files (MIKE .mdf)</td></tr>
                    <tr><td>fm21fm:</td><td><span class="nowrap">fm21fm: shediac</span></td><td>Files (MIKE .m21mf)</td></tr>
                    <tr><td>fm3fm:</td><td><span class="nowrap">fm3fm: shediac</span></td><td>Files (MIKE .m3fm)</td></tr>
                    <tr><td>fmesh:</td><td><span class="nowrap">fmesh: shediac</span></td><td>Files (MIKE .mesh)</td></tr>
                    <tr><td>flog:</td><td><span class="nowrap">flog: shediac</span></td><td>Files (MIKE .log)</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
