@using CSSPWebTools.Models;
@using CSSPWebTools.Views.Shared.Resources;
@using CSSPWebTools.Views.SubsectorTools.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPModelsDLL.Models;

@{
    int SubsectorTVItemID = (int)ViewBag.SubsectorTVItemID;
    TVAuthEnum tvAuth = (TVAuthEnum)ViewBag.TVAuth;
}

<div id="MunicipalityDiv">
    <div class="MunicipalityInfoDiv">
        @Html.Action("_subsectorMunicipalities", "SubsectorTools", new { SubsectorTVItemID = SubsectorTVItemID, Radius_km = 50.0f })
    </div>

    <script type="text/javascript">
        $(function () {
            cssp.HydrometricSite.Init();
        });
    </script>
</div>
